.about-page-section {
    font-size: 25px;
    line-height: initial;
    margin: 0;

    .about-page-section-col {
        border-radius: 4px;
        box-shadow: 0 10px 25px 1px rgba(20, 20, 80, 0.14);
        margin: 1.5rem;
        padding: 4rem 2rem;

        .about-page-section-header {
            color: #3a888b;
            display: inline-block;
            margin-bottom: 2rem;
        }

        .about-page-bio-body {
            font-size: 20px;
        }
    }
}
