.application-page-section {
    font-size: 25px;
    line-height: initial;
    margin: 0;

    .application-page-section-col {
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0 10px 25px 1px rgba(20, 20, 80, 0.14);
        margin: 1.5rem;
        padding: 4rem 2rem;
    }
}
