.footer {
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
    font-size: 1.25rem;
    background-color: #a7a9ac;
    bottom: 0;
    right: 0;
    left: 0;

    .nav-link {
        font-weight: bolder;
        font-size: 1.25rem;
        color: #1f3c92;
    }

    @media (max-width: 576px) {
        display: none;
    }
}
