.nav-top {
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
    font-size: 1.25rem;
    background-color: #a7a9ac;

    .nav-link, .dropdown-item {
        font-weight: bolder;
        font-size: 1.25rem;
        color: #1f3c92;
    }

    .navbar-toggler {
        background-color: #1f3c92;

        .fa-caret-down {
            color: #a7a9ac;
        }
    }

    .dropdown-menu {
        background-color: #a7a9ac;
    }

    .dropdown-item:hover {
        background: none;
    }
}

.nav-tagline {
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    font-size: 1.25rem;

    @media (min-width: 768px) {
        margin: auto;
        margin-left: 8px;
    }
}

.nav-left {
    @media (max-width: 576px) {
        margin-left: auto;
    }
}
