// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#get-financing-banner {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/person-writing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    min-height: 500px;
}

.error-card {
    position: absolute;
}

#about-page-banner {
    //background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/people-concrete.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    min-height: 300px;
}

.grecaptcha-badge {
    margin-bottom: 50px;
}

.blog-index-image {
    opacity: 0.6;
}

.blog-index-card {
    cursor: pointer;
}

.nav-top, .nav-bottom {
    background-color: #a7a9ac;

    .nav-link, .dropdown-item {
        color: #1f3c92;
    }

    .navbar-toggler {
        background-color: #1f3c92;

        .fa-caret-down {
            color: #a7a9ac;
        }
    }

    .dropdown-menu {
        background-color: #a7a9ac;
    }

    .dropdown-item:hover {
        background: none;
    }
}

@media (max-width: 576px) {
    .nav-bottom {
        display: none;
    }
}

.navbar-logo {
    width: 100px;

    @media (max-width: 576px) {
        width: 50px;
    }
}

#navbar-logo-link {
    @media (max-width: 576px) {
        margin-top: 10px;
    }
}

.card-dark {
    background-color: #1f3c92;
}

.nav-tagline {
    @media (min-width: 768px) {
        margin: auto;
        margin-left: 8px;
    }
}

.nav-left {
    @media (max-width: 576px) {
        margin-left: auto;
    }
}

.lower-landing-banner {
    background-color: #1f3c92;
    height: 250px;
    width: 100%;
    @media (max-width: 576px) {
        height: 100px;
    }
}

.welcome-container {
    @media (max-width: 576px) {
        .welcome-panel-image, .welcome-panel-text {
            margin: 15px;
        }

        .welcome-panel-image:last-of-type {
            margin-bottom: 50px;
        }

        .desktop-panel-image {
            display: none;
        }
    }

    @media (min-width: 577px) {
        .mobile-panel-image {
            display: none;
        }
    }
}

.landing-page-banner-image {
    width: 100%;
    @media (max-width: 576px) {
        height: 100px;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }
