// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#landing-page-banner {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/quarters-plants.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 500px;
    font-size: 4.25rem;

    @media (max-width: 576px) {
        min-height: 250px;
    }
}

#get-financing-banner {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/person-writing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    min-height: 500px;
}

.error-card {
    position: absolute;
}

#about-page-banner {
    //background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/people-concrete.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    min-height: 300px;
}

.grecaptcha-badge {
    margin-bottom: 50px;
}

.card-img-overlay {
    overflow-y: auto;
}

.blog-index-image {
    opacity: 0.6;
}

.blog-index-card {
    cursor: pointer;
}

.dropdown-item:hover {
    background: none;
}

.navbar-dark {
    background-color: #1f3c92;
}

.navbar-logo {
    width: 100px;

    @media (max-width: 576px) {
        width: 50px;
    }
}

#navbar-logo-link {
    @media (max-width: 576px) {
        margin-top: 10px;
    }
}

.card-dark {
    background-color: #1f3c92;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
//@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }
